<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="grid" th:each="fruit : ${fruits}">
        <form th:action="@{/update}" method="POST">
            fruit: <span th:text="${fruit.name}"></span>
        </form>
        <form th:action="@{/remove}" method="POST">
            <input type="hidden" th:value="${fruit.id}" name="id"><button>delete</button>
        </form>
    </div>
    <form method="POST" th:object="${fruit}" th:action="@{/add}">
        <span class="valid_error" th:if="${errors}" th:each="erorr : ${errors}" th:text="error.getDefaultMessage()">name error</span>
        <label>name: <input type="text" th:field="*{name}"></label>
        <button>add</button>
    </form>
</body>
</html>